@using Proptiwise.Models;
@{
    ViewBag.Title = "tour_reports";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<section class="account_column">
    <div class="container">
        <div class="row">
            <div class="col-md-12"><h1>Reports</h1></div>
            <aside class="col-md-3 col-sm-4 col-xs-5">
                <ul class="ac_list">
                    <li ><a href="tour_tenants">Tenants</a></li>
                    <li><a href="tour_properties">Properties</a></li>
                    <li class="active_list"><a href="tour_leases">Leases</a></li>
                    <li><a href="tour_payments">Payments</a></li>
                    <li><a href="tour_accounting">Accounting</a></li>
                    <li><a href="tour_workorder">Work Orders</a></li>
                    <li><a href="tour_form">Forms & Letters</a></li>
                    <li class="active_list"><a href="tour_reports">Reports</a></li>
                    <li><a href="tour_users">Users & Security</a></li>
                    <li><a href="tour_tenantportal">Tenant Portal</a></li>
                    <li><a href="tour_tenantscreening">Tenant Screening</a></li>
                    <li><a href="tour_extras">Extras</a></li>
                    <li ><a href="tour_screenshots">Screenshots</a></li>
                </ul>
            </aside>
            <div class="content col-md-9 col-sm-9">
                <div>
                    <h3>Reports</h3>
                    <p><img alt="Tour" src="@getallpath.getpath/images/test.png" class="alignright"></p>
                    <h4>Powerful reporting, better decisions</h4>
                    <p>
                       Proptiwise comes complete with over twenty-five reports that provide insight into every aspect of your rental property business. From simple vacant property lists to full rent roll and payment histories, everything is included.

                    </p>
                    <ul class="clear">
                        <li class="left">
                            <h4>
                                <img class="v-bt" src="@getallpath.getpath/images/i_stick.png">&nbsp;Filtering Capability
                            </h4>
                            <p>Generate reports how you want them - run reports for an entire building, or for one property or tenant - or run the report for all - it's up to you.</p>
                        </li>
                        <li class="left">
                            <h4>
                                <img class="v-bt" src="@getallpath.getpath/images/i_stick.png">&nbsp;Group Summaries
                            </h4>
                            <p>Group your report data by Building, Property, Tenant, etc and see roll-up summaries with group-specific sub-totals.</p>
                        </li>
                        <li class="left">
                            <h4>
                                <img class="v-bt" src="@getallpath.getpath/images/i_stick.png">&nbsp;Export Formats
                            </h4>
                            <p>Reports can be printed or exported and emailed in a variety of data formats, including PDF, Word, Excel, HTML, Image, and CSV.</p>
                        </li>
                        <li class="left">
                            <h4>
                                <img class="v-bt" src="@getallpath.getpath/images/i_stick.png">&nbsp;Customizable
                            </h4>
                            <p>All reports can show your company info and/or property owner info in the header or the footer.</p>
                        </li>
                        <li class="left">
                            <h4>
                                <img class="v-bt" src="@getallpath.getpath/images/i_stick.png">&nbsp;Tenant &amp; Property Reports
                            </h4>
                            <p>
                                All Tenants List, Leasing Tenants List, Tenant Details, Contact History, All Properties List, Leased Properties List, Vacant Properties List, Property Details
                            </p>
                        </li>
                        <li class="left">
                            <h4>
                                <img class="v-bt" src="@getallpath.getpath/images/i_stick.png">&nbsp;Lease &amp; Inventory Reports
                            </h4>
                            <p>Inventory List, Active Leases, Expiring Leases, Expired Leases, Closed Leases</p>
                        </li>
                        <li class="left">
                            <h4>
                                <img class="v-bt" src="@getallpath.getpath/images/i_stick.png">&nbsp;Payment &amp; Accounting Reports
                            </h4>
                            <p>
                                Payment History, Current Balances, Current Balances &amp; Payments, Complete Statements, Complete Statements + Payments,
                                All Accounting Entries, Income Accounting Entries, Expense Accounting Entries, Profit &amp; Loss Summary, Profit &amp; Loss Detail
                            </p>
                        </li>
                        <li class="left">
                            <h4>
                                <img class="v-bt" src="@getallpath.getpath/images/i_stick.png">&nbsp;Work Order Reports
                            </h4>
                            <p>Open Work Orders, Pending Work Orders, Closed Work Orders, Work Order Detail Report</p>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>

