@using Proptiwise.Models;
@{
    ViewBag.Title = "tour_tenants";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}


<section class="account_column">
    <div class="container">
        <div class="row">
            <div class="col-md-12"><h1>Tenants</h1></div>
            <aside class="col-md-3 col-sm-4">
                <ul class="ac_list">
                    <li class="active_list"><a href="tour_tenants">Tenants</a></li>
                    <li><a href="tour_properties">Properties</a></li>
                    <li ><a href="tour_leases">Leases</a></li>
                    <li><a href="tour_payments">Payments</a></li>
                    <li><a href="tour_accounting">Accounting</a></li>
                    <li><a href="tour_workorder">Work Orders</a></li>
                    <li><a href="tour_form">Forms & Letters</a></li>
                    <li><a href="tour_reports">Reports</a></li>
                    <li ><a href="tour_users">Users & Security</a></li>
                    <li><a href="tour_tenantportal">Tenant Portal</a></li>
                    <li ><a href="tour_tenantscreening">Tenant Screening</a></li>
                    <li><a href="tour_extras">Extras</a></li>
                    <li><a href="tour_screenshots">Screenshots</a></li>
                    </ul>
            </aside>
            <div class="content col-md-9 col-sm-8">
                <div>
                    <h3>Tenants</h3>
                    <p><img alt="Tour" src="@getallpath.getpath/images/test.png" class="alignright"></p>
                    <h4>Complete tenant &amp; applicant management</h4>
                    <p>
                        Proptiwise makes organizing and finding your tenant information simple. Keep track of currently leasing tenants, expired and former tenants, and applicants. Tenant lists are fully searchable, and all information is at your fingertips - less clicking and better productivity.
                    </p>
                    <ul class="clear">
                        <li class="left">
                            <h4>
                                <img class="v-bt" src="@getallpath.getpath/images/i_stick.png">&nbsp;Payment History
                            </h4>
                            <p>See payment histories for all tenants - view past payments for any date range, and <strong>print or email receipts</strong> for all incoming payments. </p>
                        </li>
                        <li class="left">
                            <h4>
                                <img class="v-bt" src="@getallpath.getpath/images/i_stick.png">&nbsp;Balances and Statements
                            </h4>
                            <p>Get a snapshot of all outstanding balances and due dates for any and all tenants. Track all receivables and <strong>print or email invoices</strong> at any time.</p>
                        </li>
                        <li class="left">
                            <h4>
                                <img class="v-bt" src="@getallpath.getpath/images/i_stick.png">&nbsp;Contact History
                            </h4>
                            <p>Log every phone call, visit, meeting, or email in contact histories linked to each of your tenants, searchable by date range.</p>
                        </li>
                        <li class="left">
                            <h4>
                                <img class="v-bt" src="@getallpath.getpath/images/i_stick.png">&nbsp;Tenant Profiles
                            </h4>
                            <p>Store as much or as little data about your tenants as you like. Proptiwise lets you track things like contact information, identification info (social security, driver's license, etc), references, occupants, employment info, pets, vehicles, and much more!</p>
                        </li>
                        <li class="left">
                            <h4>
                                <img class="v-bt" src="@getallpath.getpath/images/i_stick.png">&nbsp;File Uploads
                            </h4>
                            <p>Upload and store tenant-specific files, lease agreements, scanned documents, and more.</p>
                        </li>
                        <li class="left">
                            <h4>
                                <img class="v-bt" src="@getallpath.getpath/images/i_stick.png">&nbsp;Send Email
                            </h4>
                            <p>You can send email to your tenants without ever having to leave the system.  All copies of outgoing email are filed in the Contact History for that tenant.</p>
                        </li>
                        <li class="left">
                            <h4>
                                <img class="v-bt" src="@getallpath.getpath/images/i_stick.png">&nbsp;Applicants
                            </h4>
                            <p>A dedicated applicants module allows you to receive applications for your properties online, track applicants, approve or decline them, and convert them into tenants.</p>
                        </li>
                        <li class="left">
                            <h4>
                                <img class="v-bt" src="@getallpath.getpath/images/i_stick.png">&nbsp;Applications
                            </h4>
                            <p>You can publicize your properties and receive applications online - these are imported into the system as applicant records - less paper, less hassle!</p>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        </div>
</section>
