@using Proptiwise.Models

@{
    ViewBag.Title = "TenantDepositRequests";
    Layout = "~/Views/Shared/TenantMaster.cshtml";
}
<div class="container-fluid">
    <div class="col-me-12"><h2>Admin Deposit Requests</h2></div>

    <ul class="nav nav-tabs responsive" id="myTab">
        <li class="active"><a href="#tab-1">Pending</a></li>
        <li><a href="#tab-2">Accepted</a></li>
        <li><a href="#tab-3">Rejected</a></li>
        <li><a href="#tab-4">Deposit Paid</a></li>
    </ul>
    <div class="tab-content responsive">
        <div class="tab-pane active" id="tab-1">
            <h5>Pending Invoice Requests</h5>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayName("Tenant")
                    </th>
                    <th></th>
                    <th>
                        @Html.DisplayName("Property")
                    </th>
                    <th>
                        @Html.DisplayName("Landlord")
                    </th>
                    <th>
                        @Html.DisplayName("Amount")
                    </th>
                    <th>
                        @Html.DisplayName("Approval")
                    </th>
                    <th>
                        @Html.DisplayName("Date")
                    </th>
                    <th>
                        @Html.DisplayName("Accept")
                    </th>
                    <th>
                        @Html.DisplayName("Reject")
                    </th>
                </tr>

                @foreach (var item in ViewBag.Pending as List<Proptiwise.Models.Deposit>)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Tenant.FirstName)
                </td>
                <td>
                    <span class="up_down">
                        <i class="fa fa-caret-up" aria-hidden="true"></i>
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Property.PropertyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepositAmount)
                </td>

                <td>
                    @if (item.DepositApproval == 0)
                        {
                        <font>Pending</font>
                        }

                </td>
                <td>
                    <font>@item.DateCreated.Value.ToShortDateString()</font>
                </td>
                <td>
                    @Html.ActionLink("Accept", "AcceptDepositRequest", new { id = item.DepositId })

                <td>
                    @Html.ActionLink("Reject", "RejectDepositRequest", new { id = item.DepositId })
                </td>
                </td>
            </tr>

            <tr class="toggle_info" style="display:none;">
                <td colspan="13">
                    <div class="toggle_summery">
                        <div class="col-md-4 col-sm-4">
                            @*    <div class="top_info">

                                                                            </div>
                                                                           <div class="contact_info">

                                <span class="txtinfo">*@
                            @{
                var dimg = Proptiwise.Models.RandomFunctions.GetFirstImage(item.PropertyId);
                if (dimg != null)
                {
                                                <img src="@getallpath.getpath/PropertyImages/@dimg.ImageName" alt="Property">
                }
                else
                {
                                                <img src="@getallpath.getpath/PropertyImages/No_image_available.png" alt="Property">
                }
                            }

                            @*  </span>
                                </div>*@
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="top_info">

                            </div>
                            <div class="contact_info">

                                <span class="txtinfo">

                                    @{
                                                        var data = Proptiwise.Models.RandomFunctions.getrequestpropdata(item.PropertyId);
                                    }
                                    @if (data.PropertyName != null)
                                                        {
                                                        <h4><b>@data.PropertyName</b></h4>
                                                        }
                                                        else
                                                        {
                                                        <h4>No Name</h4>
                                                        }
                                    @if (data.AddressLine1 == null)
                                                        {
                                                        <p>No Location</p>
                                                        }
                                                        else
                                                        {
                                                        <p>@data.AddressLine1</p>

                                                        }
                                    @if (data.PropertyTypeId == null)
                                                        {
                                                        <p>No Property Type</p>
                                                        }
                                                        else
                                                        {
                                                        @*<p>@data.PropertyType.PropertyTypeName</p>*@

                                                        }


                                    @if (data.Bathroom == null)
                                                        {
                                                        <p>No Bathroom</p>
                                                        }
                                                        else
                                                        {
                                                        <p>Bathroom: @data.Bathroom </p>
                                                        }
                                    @if (data.Bedroom== null)
                                                        {
                                                        <p>No Bedroom</p>
                                                        }
                                                        else
                                                        {
                                                        <p>Bedroom: @data.Bedroom</p>

                                                        }

                                </span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="top_info">

                            </div>
                            <div class="contact_info">
                                <span class="txtinfo">
                                    @{
                                                            var data1 = Proptiwise.Models.RandomFunctions.getleasedata(item.PropertyId);
                                    }
                                    <h4><b>financial Information</b></h4>
                                    @if (data.DepositReq != null)
                                                        {
                                                        <p>Deposit: @data.DepositReq</p>
                                                        }
                                                        else
                                                        {
                                                        <h4>No Deposit</h4>
                                                        }
                                    @if (data.Price == null)
                                                        {
                                                        <p>No Price</p>
                                                        }
                                                        else
                                                        {
                                                        <p>Total Price: @data.Price</p>

                                                        }

                                </span>
                            </div>
                        </div>

                    </div>
                </td>
            </tr>

            }

            </table>
        </div>
        <div class="tab-pane" id="tab-2">
            <h5>Accepted Invoice Requests</h5>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayName("Tenant")
                    </th>
                    <th></th>
                    <th>
                        @Html.DisplayName("Property")
                    </th>
                    <th>
                        @Html.DisplayName("Landlord")
                    </th>
                    <th>
                        @Html.DisplayName("Amount")
                    </th>
                    <th>
                        @Html.DisplayName("Approval")
                    </th>
                    <th>
                        @Html.DisplayName("Date")
                    </th>
                    <th>
                        Pay Deposit
                    </th>
                </tr>

                @foreach (var item in ViewBag.accepted as List<Proptiwise.Models.Deposit>)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Tenant.FirstName)
                </td>
                <td>
                    <span class="up_down">
                        <i class="fa fa-caret-up" aria-hidden="true"></i>
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Property.PropertyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepositAmount)
                </td>

                <td>
                    @if (item.DepositApproval == 1 )
                        {
                        <font>Accepted</font>
                        }

                </td>
                <td>
                    <font>@item.DateCreated.Value.ToShortDateString()</font>
                </td>
                <td>
                    @if (item.DepositStatus == 1)
                        {
                        <h5>Paid</h5>
                        }
                        else
                        {
                        <a class="col-md-4 col-sm-5" href="@getallpath.getpath/Payment/Buy1/@item.DepositId">Pay With Card</a>

                        <div id="paypalDiv" class="col-md-4 col-sm-5">
                            <form id="paypalForm" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">

                                <fieldset>
                                    <input class="full-width" type="hidden" name="business" value="romi_kaushal@rvtechnologies.co.in">
                                    <input type="hidden" name="cmd" value="_xclick">
                                    <input type="hidden" name="item_name" value="@item.Property.PropertyName" />
                                    <input type="hidden" name="item_number" value="@item.DepositId" />
                                    <input type="hidden" name="amount" value=@item.DepositAmount />
                                    <input type="hidden" name="quantity" value=1 />
                                    <input type="hidden" name="return" value="http://dotnetexperts4rv.com/Proptiwise/Front/TenantDepositRequests">
                                    <input type="hidden" name="notify_url" value="http://dotnetexperts4rv.com/Proptiwise/Ipn1/@item.DepositId">
                                    <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" />

                                </fieldset>

                            </form>
                        </div>


                        }
                </td>
            </tr>

            <tr class="toggle_info" style="display:none;">
                <td colspan="13">
                    <div class="toggle_summery">
                        <div class="col-md-4 col-sm-4">
                            @*    <div class="top_info">

                                                                            </div>
                                                                           <div class="contact_info">

                                <span class="txtinfo">*@
                            @{
                var dimg = Proptiwise.Models.RandomFunctions.GetFirstImage(item.PropertyId);
                if (dimg != null)
                {
                                                <img src="@getallpath.getpath/PropertyImages/@dimg.ImageName" alt="Property">
                }
                else
                {
                                                <img src="@getallpath.getpath/PropertyImages/No_image_available.png" alt="Property">
                }
                            }

                            @*  </span>
                                </div>*@
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="top_info">

                            </div>
                            <div class="contact_info">

                                <span class="txtinfo">

                                    @{
                                                        var data = Proptiwise.Models.RandomFunctions.getrequestpropdata(item.PropertyId);
                                    }
                                    @if (data.PropertyName != null)
                                                        {
                                                        <h4><b>@data.PropertyName</b></h4>
                                                        }
                                                        else
                                                        {
                                                        <h4>No Name</h4>
                                                        }
                                    @if (data.AddressLine1 == null)
                                                        {
                                                        <p>No Location</p>
                                                        }
                                                        else
                                                        {
                                                        <p>@data.AddressLine1</p>

                                                        }
                                    @if (data.PropertyTypeId == null)
                                                        {
                                                        <p>No Property Type</p>
                                                        }
                                                        else
                                                        {
                                                        @*<p>@data.PropertyType.PropertyTypeName</p>*@

                                                        }


                                    @if (data.Bathroom == null)
                                                        {
                                                        <p>No Bathroom</p>
                                                        }
                                                        else
                                                        {
                                                        <p>Bathroom: @data.Bathroom </p>
                                                        }
                                    @if (data.Bedroom== null)
                                                        {
                                                        <p>No Bedroom</p>
                                                        }
                                                        else
                                                        {
                                                        <p>Bedroom: @data.Bedroom</p>

                                                        }

                                </span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="top_info">

                            </div>
                            <div class="contact_info">
                                <span class="txtinfo">
                                    @{
                                                            var data1 = Proptiwise.Models.RandomFunctions.getleasedata(item.PropertyId);
                                    }
                                    <h4><b>financial Information</b></h4>
                                    @if (data.DepositReq != null)
                                                        {
                                                        <p>Deposit: @data.DepositReq</p>
                                                        }
                                                        else
                                                        {
                                                        <h4>No Deposit</h4>
                                                        }
                                    @if (data.Price == null)
                                                        {
                                                        <p>No Price</p>
                                                        }
                                                        else
                                                        {
                                                        <p>Total Price: @data.Price</p>

                                                        }

                                </span>
                            </div>
                        </div>

                    </div>
                </td>
            </tr>
            }

            </table>
        </div>
        <div class="tab-pane" id="tab-3">
            <h5>Rejected Offer Requests</h5>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayName("Tenant")
                    </th>
                    <th></th>
                    <th>
                        @Html.DisplayName("Property")
                    </th>
                    <th>
                        @Html.DisplayName("Landlord")
                    </th>
                    <th>
                        @Html.DisplayName("Amount")
                    </th>
                    <th>
                        @Html.DisplayName("Approval")
                    </th>
                    <th>
                        @Html.DisplayName("Date")
                    </th>

                </tr>

                @foreach (var item in ViewBag.Rejected as List<Proptiwise.Models.Deposit>)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Tenant.FirstName)
                </td>
                <td>
                    <span class="up_down">
                        <i class="fa fa-caret-up" aria-hidden="true"></i>
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Property.PropertyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepositAmount)
                </td>

                <td>
                    @if (item.DepositApproval == 2)
                        {
                        <font>Rejected</font>
                        }

                </td>
                <td>
                    <font>@item.DateCreated.Value.ToShortDateString()</font>
                </td>

            </tr>

            <tr class="toggle_info" style="display:none;">
                <td colspan="13">
                    <div class="toggle_summery">
                        <div class="col-md-4 col-sm-4">
                            @*    <div class="top_info">

                                                                            </div>
                                                                           <div class="contact_info">

                                <span class="txtinfo">*@
                            @{
                var dimg = Proptiwise.Models.RandomFunctions.GetFirstImage(item.PropertyId);
                if (dimg != null)
                {
                                                <img src="@getallpath.getpath/PropertyImages/@dimg.ImageName" alt="Property">
                }
                else
                {
                                                <img src="@getallpath.getpath/PropertyImages/No_image_available.png" alt="Property">
                }
                            }

                            @*  </span>
                                </div>*@
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="top_info">

                            </div>
                            <div class="contact_info">

                                <span class="txtinfo">

                                    @{
                                                        var data = Proptiwise.Models.RandomFunctions.getrequestpropdata(item.PropertyId);
                                    }
                                    @if (data.PropertyName != null)
                                                        {
                                                        <h4><b>@data.PropertyName</b></h4>
                                                        }
                                                        else
                                                        {
                                                        <h4>No Name</h4>
                                                        }
                                    @if (data.AddressLine1 == null)
                                                        {
                                                        <p>No Location</p>
                                                        }
                                                        else
                                                        {
                                                        <p>@data.AddressLine1</p>

                                                        }
                                    @if (data.PropertyTypeId == null)
                                                        {
                                                        <p>No Property Type</p>
                                                        }
                                                        else
                                                        {
                                                        @*<p>@data.PropertyType.PropertyTypeName</p>*@

                                                        }


                                    @if (data.Bathroom == null)
                                                        {
                                                        <p>No Bathroom</p>
                                                        }
                                                        else
                                                        {
                                                        <p>Bathroom: @data.Bathroom </p>
                                                        }
                                    @if (data.Bedroom== null)
                                                        {
                                                        <p>No Bedroom</p>
                                                        }
                                                        else
                                                        {
                                                        <p>Bedroom: @data.Bedroom</p>

                                                        }

                                </span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="top_info">

                            </div>
                            <div class="contact_info">
                                <span class="txtinfo">
                                    @{
                                                            var data1 = Proptiwise.Models.RandomFunctions.getleasedata(item.PropertyId);
                                    }
                                    <h4><b>financial Information</b></h4>
                                    @if (data.DepositReq != null)
                                                        {
                                                        <p>Deposit: @data.DepositReq</p>
                                                        }
                                                        else
                                                        {
                                                        <h4>No Deposit</h4>
                                                        }
                                    @if (data.Price == null)
                                                        {
                                                        <p>No Price</p>
                                                        }
                                                        else
                                                        {
                                                        <p>Total Price: @data.Price</p>

                                                        }

                                </span>
                            </div>
                        </div>

                    </div>
                </td>
            </tr>
            }

            </table>
        </div>
        <div class="tab-pane" id="tab-4">
            <h5>Deposit Paid</h5>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayName("Tenant")
                    </th>
                    <th></th>
                    <th>
                        @Html.DisplayName("Property")
                    </th>
                    <th>
                        @Html.DisplayName("Landlord")
                    </th>
                    <th>
                        @Html.DisplayName("Amount")
                    </th>
                    <th>
                        @Html.DisplayName("Deposit Status")
                    </th>
                    <th>
                        @Html.DisplayName("Date")
                    </th>

                </tr>

                @foreach (var item in ViewBag.accepted as List<Proptiwise.Models.Deposit>)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Tenant.FirstName)
                </td>
                <td>
                    <span class="up_down">
                        <i class="fa fa-caret-up" aria-hidden="true"></i>
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Property.PropertyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepositAmount)
                </td>

                <td>
                    @if (item.DepositStatus == 1)
                        {
                        <font>Paid By Tenant</font>
                        }
                        else
                        {
                        <font>Pending </font>
                        }
                </td>
                <td>
                    <font>@item.DateCreated.Value.ToShortDateString()</font>
                </td>

            </tr>

            <tr class="toggle_info" style="display:none;">
                <td colspan="13">
                    <div class="toggle_summery">
                        <div class="col-md-4 col-sm-4">
                            @*    <div class="top_info">

                                                                            </div>
                                                                           <div class="contact_info">

                                <span class="txtinfo">*@
                            @{
                        var dimg = Proptiwise.Models.RandomFunctions.GetFirstImage(item.PropertyId);
                        if (dimg != null)
                        {
                                <img src="@getallpath.getpath/PropertyImages/@dimg.ImageName" alt="Property">
                        }
                        else
                        {
                                <img src="@getallpath.getpath/PropertyImages/No_image_available.png" alt="Property">
                        }
                            }

                            @*  </span>
                                </div>*@
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="top_info">

                            </div>
                            <div class="contact_info">

                                <span class="txtinfo">

                                    @{
                var data = Proptiwise.Models.RandomFunctions.getrequestpropdata(item.PropertyId);
                                    }
                                    @if (data.PropertyName != null)
                                        {
                                        <h4><b>@data.PropertyName</b></h4>
                                        }
                                        else
                                        {
                                        <h4>No Name</h4>
                                        }
                                    @if (data.AddressLine1 == null)
                                        {
                                        <p>No Location</p>
                                        }
                                        else
                                        {
                                        <p>@data.AddressLine1</p>

                                        }
                                    @if (data.PropertyTypeId == null)
                                        {
                                        <p>No Property Type</p>
                                        }
                                        else
                                        {
                                        @*<p>@data.PropertyType.PropertyTypeName</p>*@

                                        }


                                    @if (data.Bathroom == null)
                                        {
                                        <p>No Bathroom</p>
                                        }
                                        else
                                        {
                                        <p>Bathroom: @data.Bathroom </p>
                                        }
                                    @if (data.Bedroom == null)
                                        {
                                        <p>No Bedroom</p>
                                        }
                                        else
                                        {
                                        <p>Bedroom: @data.Bedroom</p>

                                        }

                                </span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="top_info">

                            </div>
                            <div class="contact_info">
                                <span class="txtinfo">
                                    @{
                var data1 = Proptiwise.Models.RandomFunctions.getleasedata(item.PropertyId);
                                    }
                                    <h4><b>financial Information</b></h4>
                                    @if (data.DepositReq != null)
                                        {
                                        <p>Deposit: @data.DepositReq</p>
                                        }
                                        else
                                        {
                                        <h4>No Deposit</h4>
                                        }
                                    @if (data.Price == null)
                                        {
                                        <p>No Price</p>
                                        }
                                        else
                                        {
                                        <p>Total Price: @data.Price</p>

                                        }

                                </span>
                            </div>
                        </div>

                    </div>
                </td>
            </tr>
            }

            </table>
        </div>

    </div>

    </div>




